# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# matplotlib
.cache/
.matplotlib/

# Sphinx documentation
docs/_build/

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# pyenv environment
.python-version

# dotenv environment file
.env

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# pipenv
.Pipfile.lock

# Scrapy
.scrapy/

# Poetry
.poetry/

# pycache
__pycache__/
